@{
    ViewBag.Title = "Home Page";
}
<script src="~/Scripts/app/Home.js"></script>
<div class="wrap">
    <div class="wrapper">
        <div id="slideshow">
            <img id="1" src="~/images/1.jpg" alt="" class="active" />
            <img id="2" src="~/images/2.jpg" alt="" />
            <img id="3" src="~/images/3.jpg" alt="" />
        </div>
    </div>
</div>
<div class="clear"></div>

<div class="wrap">
    <div class="wrapper">
        <div class="main_text" style="padding-top: 150px">
            <h2>A place of light, of liberty, and learning</h2>
            <h3>we provide leading intensive courses</h3>
        </div>
        <div class="grids_1_of_4">
            <div class="grid_1_of_4 images_1_of_4 bg1">
                <img src="~/images/icon1.png">
            </div>
            <div class="grid_1_of_4 images_1_of_4 bg2">
                <img src="~/images/icon2.png">
            </div>
            <div class="grid_1_of_4 images_1_of_4 bg3">
                <img src="~/images/icon3.png">
            </div>
            <div class="grid_1_of_4 images_1_of_4 bg4">
                <img src="~/images/icon4.png">
            </div>
            <div class="clear"></div>
        </div>
        <div class="section group">
            <div class="col_1_of_4 span_1_of_4">
                <h3>Mauris at eratos</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <div class="text1-nav">
                    <ul>
                        <li><a href="#">The standard chunk of</a></li>
                        <li><a href="#">Duis a augue euismod</a></li>
                        <li><a href="#">The standard of Lorem</a></li>
                        <li><a href="#">Duis a augue euismod</a></li>
                    </ul>
                </div>
                <div class="button">
                    <a href="@Url.Action("Index", "NewsDetail")">learn more</a>
                </div>
            </div>
            <div class="col_1_of_4 span_1_of_4">
                <h3>imperdiet dolor</h3>
                <p>Ut enim ad minim veniam,laboris commodo consequat.Duis aute dolor in reprehenderit in voluptate velit esse cillum dolore nulla pariatur.</p>
                <div class="text1-nav">
                    <ul>
                        <li><a href="#">The standard chunk of</a></li>
                        <li><a href="#">Duis a augue euismod</a></li>
                        <li><a href="#">The standard of Lorem</a></li>
                        <li><a href="#">Duis a augue euismod</a></li>
                    </ul>
                </div>
                <div class="button">
                    <a href="@Url.Action("Index", "NewsDetail")">learn more</a>
                </div>
            </div>
            <div class="col_1_of_4 span_1_of_4">
                <h3>Sed porta justjm</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <div class="text1-nav">
                    <ul>
                        <li><a href="#">The standard chunk of</a></li>
                        <li><a href="#">Duis a augue euismod</a></li>
                        <li><a href="#">The standard of Lorem</a></li>
                        <li><a href="#">Duis a augue euismod</a></li>
                    </ul>
                </div>
                <div class="button">
                    <a href="@Url.Action("Index", "NewsDetail")">learn more</a>
                </div>
            </div>
            <div class="col_1_of_4 span_1_of_4">
                <h3>nisi vulputate</h3>
                <p>Ut enim ad minim veniam,laboris commodo consequat.Duis aute dolor in reprehenderit in voluptate velit esse cillum dolore nulla pariatur.</p>
                <div class="text1-nav">
                    <ul>
                        <li><a href="#">The standard chunk of</a></li>
                        <li><a href="@Url.Action("Index", "NewsDetail")">Duis a augue euismod</a></li>
                    </ul>
                </div>
                <div class="button">
                    <a href="@Url.Action("Index", "NewsDetail")">learn more</a>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>
<div class="main_bg">
    <div class="wrap">
        <div class="wrapper">
            <div class="main">
                <div class="grid_1_of_2 images_1_of_2"> 
                    <h4 style="color:rgb(191, 204, 41);">Dịch thuật tiếng Anh.</h4>
                    <p class="para">Theo ước tính, tại Việt Nam mỗi ngày có hơn 300.000 tài liệu thuộc mọi lĩnh vực được dịch từ tiếng Anh sang các ngôn ngữ khác. Dịch thuật tiếng Anh là một trong những thế mạnh của trung tâm dịch thuật 24/7  với hơn 25000 dự án thành công ở nhiều lĩnh vực khác nhau, bao gồm: </p>
                    <div class="para" style="padding-top: 10px">
                            <i class="fa fa-play"></i><span> Dịch thuật tiếng Anh ngành tài chính/ngân hàng.</span><br/>
                            <i class="fa fa-play"></i><span> Dịch thuật tiếng Anh ngành pháp luật.</span><br />
                            <i class="fa fa-play"></i><span> Dịch thuật tiếng Anh ngành quảng cáo & truyền thông</span><br />
                            <i class="fa fa-play"></i><span> Dịch thuật tiếng Anh chuyên ngành khác</span><br />
                    </div>
                    <div class="button1" style="padding-top: 10px">
                        <a href="@Url.Action("Index", "NewsDetail")" class="btn btn_s">view More</a>
                    </div>
                </div>
                <div class="grid_1_of_2 images_1_of_2 img_style">
                    <img src="~/images/pic1.jpg" alt="">
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
</div>