<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Bright Day Center</title>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href='//fonts.googleapis.com/css?family=Cagliostro' rel='stylesheet' type='text/css'>
    <link href="~/Content/style.css" rel="stylesheet" type="text/css" media="all" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/ETranslation.js"></script>
    <link href="~/Content/Etran.css" rel="stylesheet" />
    <script type="text/javascript">
        Etran.HomeUrl = "@Url.Action("Index", "Home")";
        Etran.AboutUrl = "@Url.Action("About", "Home")";
        Etran.ContactUrl = '@Url.Action("Contact", "Home")';
        Etran.ServicesUrl = '@Url.Action("Services", "Home")';
        Etran.Commtor = '@Url.Action("Commtor", "Home")';
    </script>
</head>
<body>
    <div class="wrap">
        <div class="wrapper">
            <div class="logo">
                <a href="index.html"><h1>BrightDay</h1></a>
            </div>
            <div class="header_right">
                <div class="cssmenu">
                    <ul>
                        <li class="active"><a onclick="gotoHome()"><span>Home</span></a></li>
                        <li><a onclick="gotoAbout()"><span>About</span></a></li>
                        <li><a onclick="gotoCommtor()"><span>Commtor</span></a></li>
                        <li class="has-sub"><a onclick="gotoService()"><span>Services</span></a></li>
                        <li class="last"><a onclick="gotoContact()"><span>Contact</span></a></li>
                        <div class="clear"></div>
                    </ul>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>


    <div class="container body-content">
        @RenderBody()
    </div>

    <div class="wrap">
        <div class="wrapper">
            <div class="footer">
                <div class="social-icons">
                    <ul>
                        <li class="icon_1"><a href="#" target="_blank"> </a></li>
                        <li class="icon_2"><a href="#" target="_blank"> </a></li>
                        <li class="icon_3"><a href="#" target="_blank"> </a></li>
                        <li class="icon_4"><a href="#" target="_blank"> </a></li>
                        <div class="clear"></div>
                    </ul>
                </div>
                <a onclick="gotoHome()"><h2>Bright Day</h2></a>
                <div class="copy">
                    <p class="w3-link">© 2013 Bright Day. All Rights Reserved | Design by&nbsp; <a onclick="gotoHome()"> Bright Day Center System</a></p>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>
